

.button{
    padding:20px;
    color:white;
    background-color:blue;
    border-radius:10px;
    margin:0 auto;
    display:block;
    border: none;
    
    
}

#button{
    padding:20px;
    color:white;
    background-color:orange;
    border-radius:10px;
    margin:10px auto;
    display:block;
    border: none;
    
}

.shop{
    padding:30px;
    color:white;
    background-color: green;
    border-radius:20px;
    margin:0 auto;
    display:flexbox;
    border: none;
    
}
